
@{
    ViewData["Title"] = "Controls";
}

<h1>Permit To Cloud</h1>

<h3>Considerations</h3>

<ol>
    <li>3rd Party Compliance</li>
    <li>Access Control</li>
    <li>Anti Virus</li>
    <li>Asset Management</li>
    <li>Backup &Aacute; Restore</li>
    <li>Change Management</li>
    <li>Configuration</li>
    <li>Contractural</li>
    <li>Data Flows</li>
    <li>Governance</li>
    <li>Encryption</li>
    <li>Identity</li>
    <li>Incident Response</li>
    <li>Logging</li>
    <li>Network Security</li>
    <li>Open Source</li>
    <li>Patch Management</li>
    <li>Process</li>
    <li>Regulatory</li>
    <li>Resiliency</li>
    <li>Secure Development</li>
    <li>Penetration Testing</li>
    <li>Vulnerability</li>
    <li>etc.</li>
</ol>